<nav>
  <a href="/" class="site-link">Home</a>
  <a href="curry-leaf" class="site-link">Curry Leaf</a>
  <a href="bombay-cousine" class="site-link">Bombay Cousine</a>
  <a href="pind" class="site-link">Pind</a>
</nav>
