<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation</title>
</head>
<body>
  <nav>
    <a href="/" class="site-link">Home</a>
    <a href="curry-leaf" class="site-link">Curry Leaf</a>
    <a href="bombay-cousine" class="site-link">Bombay Cousine</a>
    <a href="pind" class="site-link">Pind</a>
  </nav>
</body>
</html>
