<nav>
  <a href="/" alt="Home Page" class="site-link">Home</a>
  <a href="curry-leaf" alt="Curry Leaf" class="site-link">Curry Leaf</a>
  <a href="bombay-cousine" alt="Bombay Cousine" class="site-link">Bombay Cousine</a>
  <a href="pind" alt="Pind" class="site-link">Pind</a>
</nav>
