<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indian Restaurant Tour</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  &lt;%- include('../partials/header') %&gt;
  &lt;%- include('../partials/nav') %&gt;

  <img src="&lt;%= restaurant.image %&gt;" alt="Restaurant image">

  <p class="description">
    &lt;%= restaurant.content %&gt;
  </p>

  &lt;%- include('../partials/subheading') %&gt;
  <p>
    &lt;%= restaurant.drink %&gt;
  </p>

  <a href="&lt;%= restaurant.website %>&gt;" alt="&lt;%= restaurant.title %&gt; Website">
    &lt;%= restaurant.title %&gt; Website
  </a>

</body>

</html>
